<div class="row col-6  shadow mx-auto mt-3">

  <!--    <div class="mb-3">-->
  <!--      <label for="title">Titre de l'annonce</label>-->
  <!--      <input-->
  <!--      id="title"-->
  <!--      class="form-control"-->
  <!--      [(ngModel)]="advert.title">-->
  <!--    </div>-->

  <mat-form-field appearance="fill">
    <mat-label>Dates de diffusion</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date">
      <input matEndDate placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>


  <mat-selection-list #areas>
    <mat-list-option *ngFor="let area of listAreas">
      <p class="area"> {{area.name}}</p>
    </mat-list-option>
  </mat-selection-list>
  <p>
    Options selected: {{areas.selectedOptions.selected.length}}
  </p>
</div>

