<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Annonces</h1>
</div>

<div class="row-">

<ng-container>
  <table class="table" >
    <thead class="table-dark">
    <tr>
      <th>Id</th>
      <th>Date Debut</th>
      <th>Date Fin</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody *ngFor="let advert of adverts">
    <tr >
      <td>{{advert.id}}</td>
      <td>{{advert.title}}</td>
      <td>{{advert.dateStart}}</td>
      <td>{{advert.dateEnd}}</td>
      <td class="d-flex justify-content-between">
        <div>
          <button
            class="btn btn-primary me-2">
            DETAILS
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</ng-container>

