<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Annonces</h1>
</div>


  <ng-container class="row " *ngIf="adverts.length >0">
    <table class="table">
      <thead class="table-dark">
      <tr>
        <th>Titre</th>
        <th>Date Debut</th>
        <th>Date Fin</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let advert of adverts">
        <td>{{advert.title}}</td>
        <td>{{advert.dateStart}}</td>
        <td>{{advert.dateEnd}}</td>
        <td class="d-flex justify-content-between">
          <div>
            <button
              [routerLink]="['/adverts', advert.id]"
              class="btn btn-primary me-2">
              DETAILS
            </button>
          </div>
        </td>
      </tr>

      </tbody>
    </table>

  </ng-container>

