<div class="px-4 py-3 text-center">

  <div *ngIf="advert" class="col-11 offset-1 card shadow mx-auto my-5 py-2">
    <div class="card-body">
      <h2 class="card-title text-center">{{advert.title}}</h2>
      <p class="card-text">Date de début :{{advert.dateStart}}</p>
      <p class="card-text">Date de fin de diffusion :{{advert.dateEnd}}</p>

      <div class="card-body">
        <h5 class="card-title">Zones de diffusion:</h5>
        <div class="card-text" *ngFor="let zone of advert.areas">
          <p class="card-text">{{zone.name}} :
            <span *ngFor="let arret of zone.arrets"> {{arret.name}}
				</span></p>
        </div>
      </div>

      <div class="card-body">
        <h5 class="card-title">Créneau Horraires </h5>
        <div class="card-text" *ngFor="let slot of advert.slotTimes">
          <p class="card-text">{{slot.start}} H</p>
        </div>
      </div>
    </div>
  </div>
</div>
